<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="control.system.entity.Visitor" />
    <mapping class="control.system.entity.TempVisitor" />
    <mapping class="control.system.entity.Account" />
  </session-factory>
</hibernate-configuration>